@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

#Main-Page {
    text-align: center;
}

#Main-Page ul {
    list-style-type: none;
}

.recipe-header {
    text-align: center;
    width: 700px;
    margin: auto;
}

.recipe-header img {
    width: 300px;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}